.Banner {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
}

.Banner-link {
    color: white;
}

.Banner-times {
    cursor: pointer;
}

@media (max-width: 600px) {
    .Banner-message {
        font-size: 12px;
        padding: 10px;
    }
}
