.Leaderboards-heading {
    background-color: var(--primary-color);
    margin-bottom: 20px;
    padding: 0 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Leaderboards-heading-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.Leaderboards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: auto;
}

.Leaderboards-title {
    color: white;
}

.Leaderboards-link {
    color: white;
}

.Leaderboards-subtitle {
    text-align: center;
}
