.Search {
    text-align: center;
    padding-bottom: 30px;
}
.btn-search {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 35px;
    background-color: var(--primary-color);
    color: white;
    filter: grayscale(1);
    transition: 0.3s ease-in-out;
    outline: none;
}
.search {
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 300px;
    transition: 0.3s ease-in-out;
}

.search:focus {
    width: 400px;
}

.search:focus + .btn-search {
    filter: grayscale(0);
}
