.heading {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
    max-width: 1400px;
    margin: auto;
}

.heading a {
    margin-left: 10px;
    font-size: 2em;
    color: black;
}

.heading p {
    font-size: 1.2em;
}

.content {
    margin-left: 80px;
}

@media (max-width: 600px) {
    .heading {
        flex-direction: column;
        padding-top: 35px;
    }
}
