@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
    --text-color: #969696;
    --primary-color: #60993e;
    --primary-color-darker: #407522;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}
